<div class="nav-menu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="icon">
                    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 35C9.5375 35 8.71354 34.6573 8.02813 33.9719C7.34271 33.2865 7 32.4625 7 31.5C7 30.5375 7.34271 29.7135 8.02813 29.0281C8.71354 28.3427 9.5375 28 10.5 28C11.4625 28 12.2865 28.3427 12.9719 29.0281C13.6573 29.7135 14 30.5375 14 31.5C14 32.4625 13.6573 33.2865 12.9719 33.9719C12.2865 34.6573 11.4625 35 10.5 35ZM21 35C20.0375 35 19.2135 34.6573 18.5281 33.9719C17.8427 33.2865 17.5 32.4625 17.5 31.5C17.5 30.5375 17.8427 29.7135 18.5281 29.0281C19.2135 28.3427 20.0375 28 21 28C21.9625 28 22.7865 28.3427 23.4719 29.0281C24.1573 29.7135 24.5 30.5375 24.5 31.5C24.5 32.4625 24.1573 33.2865 23.4719 33.9719C22.7865 34.6573 21.9625 35 21 35ZM31.5 35C30.5375 35 29.7135 34.6573 29.0281 33.9719C28.3427 33.2865 28 32.4625 28 31.5C28 30.5375 28.3427 29.7135 29.0281 29.0281C29.7135 28.3427 30.5375 28 31.5 28C32.4625 28 33.2865 28.3427 33.9719 29.0281C34.6573 29.7135 35 30.5375 35 31.5C35 32.4625 34.6573 33.2865 33.9719 33.9719C33.2865 34.6573 32.4625 35 31.5 35ZM10.5 24.5C9.5375 24.5 8.71354 24.1573 8.02813 23.4719C7.34271 22.7865 7 21.9625 7 21C7 20.0375 7.34271 19.2135 8.02813 18.5281C8.71354 17.8427 9.5375 17.5 10.5 17.5C11.4625 17.5 12.2865 17.8427 12.9719 18.5281C13.6573 19.2135 14 20.0375 14 21C14 21.9625 13.6573 22.7865 12.9719 23.4719C12.2865 24.1573 11.4625 24.5 10.5 24.5ZM21 24.5C20.0375 24.5 19.2135 24.1573 18.5281 23.4719C17.8427 22.7865 17.5 21.9625 17.5 21C17.5 20.0375 17.8427 19.2135 18.5281 18.5281C19.2135 17.8427 20.0375 17.5 21 17.5C21.9625 17.5 22.7865 17.8427 23.4719 18.5281C24.1573 19.2135 24.5 20.0375 24.5 21C24.5 21.9625 24.1573 22.7865 23.4719 23.4719C22.7865 24.1573 21.9625 24.5 21 24.5ZM31.5 24.5C30.5375 24.5 29.7135 24.1573 29.0281 23.4719C28.3427 22.7865 28 21.9625 28 21C28 20.0375 28.3427 19.2135 29.0281 18.5281C29.7135 17.8427 30.5375 17.5 31.5 17.5C32.4625 17.5 33.2865 17.8427 33.9719 18.5281C34.6573 19.2135 35 20.0375 35 21C35 21.9625 34.6573 22.7865 33.9719 23.4719C33.2865 24.1573 32.4625 24.5 31.5 24.5ZM10.5 14C9.5375 14 8.71354 13.6573 8.02813 12.9719C7.34271 12.2865 7 11.4625 7 10.5C7 9.5375 7.34271 8.71354 8.02813 8.02813C8.71354 7.34271 9.5375 7 10.5 7C11.4625 7 12.2865 7.34271 12.9719 8.02813C13.6573 8.71354 14 9.5375 14 10.5C14 11.4625 13.6573 12.2865 12.9719 12.9719C12.2865 13.6573 11.4625 14 10.5 14ZM21 14C20.0375 14 19.2135 13.6573 18.5281 12.9719C17.8427 12.2865 17.5 11.4625 17.5 10.5C17.5 9.5375 17.8427 8.71354 18.5281 8.02813C19.2135 7.34271 20.0375 7 21 7C21.9625 7 22.7865 7.34271 23.4719 8.02813C24.1573 8.71354 24.5 9.5375 24.5 10.5C24.5 11.4625 24.1573 12.2865 23.4719 12.9719C22.7865 13.6573 21.9625 14 21 14ZM31.5 14C30.5375 14 29.7135 13.6573 29.0281 12.9719C28.3427 12.2865 28 11.4625 28 10.5C28 9.5375 28.3427 8.71354 29.0281 8.02813C29.7135 7.34271 30.5375 7 31.5 7C32.4625 7 33.2865 7.34271 33.9719 8.02813C34.6573 8.71354 35 9.5375 35 10.5C35 11.4625 34.6573 12.2865 33.9719 12.9719C33.2865 13.6573 32.4625 14 31.5 14Z" fill="currentColor"/>
                    </svg>
                </span>
                <span class="nav-text">Dashboard</span>
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="journal">
                <span class="icon">
                    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 36.75V29.3125L30.0563 6.3C30.4063 5.95 30.8 5.6875 31.2375 5.5125C31.675 5.3375 32.1125 5.25 32.55 5.25C33.0167 5.25 33.4615 5.3375 33.8844 5.5125C34.3073 5.6875 34.6792 5.95 35 6.3L37.45 8.75C37.8 9.07083 38.0625 9.44271 38.2375 9.86563C38.4125 10.2885 38.5 10.7333 38.5 11.2C38.5 11.6375 38.4125 12.075 38.2375 12.5125C38.0625 12.95 37.8 13.3438 37.45 13.6938L14.4375 36.75H7ZM32.6375 13.6063L35 11.2437L32.5062 8.75L30.1438 11.1125L32.6375 13.6063ZM24.5 36.75C26.6583 36.75 28.6563 36.2104 30.4938 35.1313C32.3313 34.0521 33.25 32.55 33.25 30.625C33.25 29.575 32.9729 28.6708 32.4188 27.9125C31.8646 27.1542 31.1208 26.4979 30.1875 25.9437L27.6063 28.525C28.2771 28.8167 28.8021 29.1375 29.1813 29.4875C29.5604 29.8375 29.75 30.2167 29.75 30.625C29.75 31.2958 29.2177 31.901 28.1531 32.4406C27.0885 32.9802 25.8708 33.25 24.5 33.25C24.0042 33.25 23.5885 33.4177 23.2531 33.7531C22.9177 34.0885 22.75 34.5042 22.75 35C22.75 35.4958 22.9177 35.9115 23.2531 36.2469C23.5885 36.5823 24.0042 36.75 24.5 36.75ZM8.00625 23.3625L10.6313 20.7375C10.0479 20.5042 9.58854 20.2635 9.25313 20.0156C8.91771 19.7677 8.75 19.5125 8.75 19.25C8.75 18.9 9.0125 18.55 9.5375 18.2C10.0625 17.85 11.1708 17.3104 12.8625 16.5812C15.4292 15.4729 17.1354 14.4667 17.9813 13.5625C18.8271 12.6583 19.25 11.6375 19.25 10.5C19.25 8.89583 18.6083 7.61979 17.325 6.67188C16.0417 5.72396 14.35 5.25 12.25 5.25C10.9375 5.25 9.76354 5.48333 8.72813 5.95C7.69271 6.41667 6.89792 6.98542 6.34375 7.65625C6.02292 8.03542 5.89167 8.45833 5.95 8.925C6.00833 9.39167 6.22708 9.77083 6.60625 10.0625C6.98542 10.3833 7.40833 10.5146 7.875 10.4563C8.34167 10.3979 8.73542 10.2083 9.05625 9.8875C9.46458 9.47917 9.91667 9.1875 10.4125 9.0125C10.9083 8.8375 11.5208 8.75 12.25 8.75C13.4458 8.75 14.3281 8.925 14.8969 9.275C15.4656 9.625 15.75 10.0333 15.75 10.5C15.75 10.9083 15.4948 11.2802 14.9844 11.6156C14.474 11.951 13.3 12.5417 11.4625 13.3875C9.12917 14.4083 7.51042 15.3344 6.60625 16.1656C5.70208 16.9969 5.25 18.025 5.25 19.25C5.25 20.1833 5.49792 20.9781 5.99375 21.6344C6.48958 22.2906 7.16042 22.8667 8.00625 23.3625Z" fill="currentColor"/>
                    </svg>
                </span>
                <span class="nav-text">Journal Entry</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="entries">
                <span class="icon">
                    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.8813 34.65C12.3229 33.8917 9.36979 32.0833 7.02188 29.225C4.67396 26.3667 3.5 23.0417 3.5 19.25C3.5 14.875 5.03125 11.1562 8.09375 8.09375C11.1562 5.03125 14.875 3.5 19.25 3.5C23.625 3.5 27.3438 5.03125 30.4062 8.09375C33.4688 11.1562 35 14.875 35 19.25C35 20.5042 34.8542 21.7219 34.5625 22.9031C34.2708 24.0844 33.8625 25.2 33.3375 26.25H22.6625C20.7375 26.25 19.1042 26.9354 17.7625 28.3063C16.4208 29.6771 15.75 31.325 15.75 33.25C15.75 33.4833 15.7573 33.7167 15.7719 33.95C15.7865 34.1833 15.8229 34.4167 15.8813 34.65ZM22.75 25.2L25.2 22.75L21 18.55V10.5H17.5V19.95L22.75 25.2ZM22.75 36.75H33.25C34.2125 36.75 35.0365 36.4073 35.7219 35.7219C36.4073 35.0365 36.75 34.2125 36.75 33.25C36.75 32.2875 36.4073 31.4635 35.7219 30.7781C35.0365 30.0927 34.2125 29.75 33.25 29.75H22.75C21.7875 29.75 20.9635 30.0927 20.2781 30.7781C19.5927 31.4635 19.25 32.2875 19.25 33.25C19.25 34.2125 19.5927 35.0365 20.2781 35.7219C20.9635 36.4073 21.7875 36.75 22.75 36.75ZM22.75 35C22.2542 35 21.8385 34.8323 21.5031 34.4969C21.1677 34.1615 21 33.7458 21 33.25C21 32.7542 21.1677 32.3385 21.5031 32.0031C21.8385 31.6677 22.2542 31.5 22.75 31.5C23.2458 31.5 23.6615 31.6677 23.9969 32.0031C24.3323 32.3385 24.5 32.7542 24.5 33.25C24.5 33.7458 24.3323 34.1615 23.9969 34.4969C23.6615 34.8323 23.2458 35 22.75 35ZM28 35C27.5042 35 27.0885 34.8323 26.7531 34.4969C26.4177 34.1615 26.25 33.7458 26.25 33.25C26.25 32.7542 26.4177 32.3385 26.7531 32.0031C27.0885 31.6677 27.5042 31.5 28 31.5C28.4958 31.5 28.9115 31.6677 29.2469 32.0031C29.5823 32.3385 29.75 32.7542 29.75 33.25C29.75 33.7458 29.5823 34.1615 29.2469 34.4969C28.9115 34.8323 28.4958 35 28 35ZM33.25 35C32.7542 35 32.3385 34.8323 32.0031 34.4969C31.6677 34.1615 31.5 33.7458 31.5 33.25C31.5 32.7542 31.6677 32.3385 32.0031 32.0031C32.3385 31.6677 32.7542 31.5 33.25 31.5C33.7458 31.5 34.1615 31.6677 34.4969 32.0031C34.8323 32.3385 35 32.7542 35 33.25C35 33.7458 34.8323 34.1615 34.4969 34.4969C34.1615 34.8323 33.7458 35 33.25 35Z" fill="currentColor"/>
                    </svg>
                </span>
                <span class="nav-text">Past Entries</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calendar">
                <span class="icon">
                    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 24.5C20.5042 24.5 20.0885 24.3323 19.7531 23.9969C19.4177 23.6615 19.25 23.2458 19.25 22.75C19.25 22.2542 19.4177 21.8385 19.7531 21.5031C20.0885 21.1677 20.5042 21 21 21C21.4958 21 21.9115 21.1677 22.2469 21.5031C22.5823 21.8385 22.75 22.2542 22.75 22.75C22.75 23.2458 22.5823 23.6615 22.2469 23.9969C21.9115 24.3323 21.4958 24.5 21 24.5ZM14 24.5C13.5042 24.5 13.0885 24.3323 12.7531 23.9969C12.4177 23.6615 12.25 23.2458 12.25 22.75C12.25 22.2542 12.4177 21.8385 12.7531 21.5031C13.0885 21.1677 13.5042 21 14 21C14.4958 21 14.9115 21.1677 15.2469 21.5031C15.5823 21.8385 15.75 22.2542 15.75 22.75C15.75 23.2458 15.5823 23.6615 15.2469 23.9969C14.9115 24.3323 14.4958 24.5 14 24.5ZM28 24.5C27.5042 24.5 27.0885 24.3323 26.7531 23.9969C26.4177 23.6615 26.25 23.2458 26.25 22.75C26.25 22.2542 26.4177 21.8385 26.7531 21.5031C27.0885 21.1677 27.5042 21 28 21C28.4958 21 28.9115 21.1677 29.2469 21.5031C29.5823 21.8385 29.75 22.2542 29.75 22.75C29.75 23.2458 29.5823 23.6615 29.2469 23.9969C28.9115 24.3323 28.4958 24.5 28 24.5ZM21 31.5C20.5042 31.5 20.0885 31.3323 19.7531 30.9969C19.4177 30.6615 19.25 30.2458 19.25 29.75C19.25 29.2542 19.4177 28.8385 19.7531 28.5031C20.0885 28.1677 20.5042 28 21 28C21.4958 28 21.9115 28.1677 22.2469 28.5031C22.5823 28.8385 22.75 29.2542 22.75 29.75C22.75 30.2458 22.5823 30.6615 22.2469 30.9969C21.9115 31.3323 21.4958 31.5 21 31.5ZM14 31.5C13.5042 31.5 13.0885 31.3323 12.7531 30.9969C12.4177 30.6615 12.25 30.2458 12.25 29.75C12.25 29.2542 12.4177 28.8385 12.7531 28.5031C13.0885 28.1677 13.5042 28 14 28C14.4958 28 14.9115 28.1677 15.2469 28.5031C15.5823 28.8385 15.75 29.2542 15.75 29.75C15.75 30.2458 15.5823 30.6615 15.2469 30.9969C14.9115 31.3323 14.4958 31.5 14 31.5ZM28 31.5C27.5042 31.5 27.0885 31.3323 26.7531 30.9969C26.4177 30.6615 26.25 30.2458 26.25 29.75C26.25 29.2542 26.4177 28.8385 26.7531 28.5031C27.0885 28.1677 27.5042 28 28 28C28.4958 28 28.9115 28.1677 29.2469 28.5031C29.5823 28.8385 29.75 29.2542 29.75 29.75C29.75 30.2458 29.5823 30.6615 29.2469 30.9969C28.9115 31.3323 28.4958 31.5 28 31.5ZM8.75 38.5C7.7875 38.5 6.96354 38.1573 6.27813 37.4719C5.59271 36.7865 5.25 35.9625 5.25 35V10.5C5.25 9.5375 5.59271 8.71354 6.27813 8.02813C6.96354 7.34271 7.7875 7 8.75 7H10.5V3.5H14V7H28V3.5H31.5V7H33.25C34.2125 7 35.0365 7.34271 35.7219 8.02813C36.4073 8.71354 36.75 9.5375 36.75 10.5V35C36.75 35.9625 36.4073 36.7865 35.7219 37.4719C35.0365 38.1573 34.2125 38.5 33.25 38.5H8.75ZM8.75 35H33.25V17.5H8.75V35Z" fill="currentColor"/>
                    </svg>
                </span>
                <span class="nav-text">Calendar</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="analytics">
                <span class="icon">
                    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.375 35.875V33.25H37.625V35.875H4.375ZM6.125 30.8267V20.125H10.5V30.8267H6.125ZM14.5722 30.8267V11.375H18.9472V30.8267H14.5722ZM23.0361 30.8267V16.625H27.4111V30.8267H23.0361ZM31.5 30.8267V6.125H35.875V30.8267H31.5Z" fill="currentColor"/>
                    </svg>
                </span>
                <span class="nav-text">Analytics</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="icon">
                    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.1881 38.5L15.4881 32.9C15.1089 32.7542 14.7516 32.5792 14.4162 32.375C14.0808 32.1708 13.7527 31.9521 13.4318 31.7188L8.22559 33.9062L3.41309 25.5938L7.91934 22.1813C7.89017 21.9771 7.87559 21.7802 7.87559 21.5906V20.4094C7.87559 20.2198 7.89017 20.0229 7.91934 19.8187L3.41309 16.4062L8.22559 8.09375L13.4318 10.2812C13.7527 10.0479 14.0881 9.82917 14.4381 9.625C14.7881 9.42083 15.1381 9.24583 15.4881 9.1L16.1881 3.5H25.8131L26.5131 9.1C26.8923 9.24583 27.2495 9.42083 27.585 9.625C27.9204 9.82917 28.2485 10.0479 28.5693 10.2812L33.7756 8.09375L38.5881 16.4062L34.0818 19.8187C34.111 20.0229 34.1256 20.2198 34.1256 20.4094V21.5906C34.1256 21.7802 34.0964 21.9771 34.0381 22.1813L38.5443 25.5938L33.7318 33.9062L28.5693 31.7188C28.2485 31.9521 27.9131 32.1708 27.5631 32.375C27.2131 32.5792 26.8631 32.7542 26.5131 32.9L25.8131 38.5H16.1881ZM21.0881 27.125C22.7798 27.125 24.2235 26.5271 25.4193 25.3313C26.6152 24.1354 27.2131 22.6917 27.2131 21C27.2131 19.3083 26.6152 17.8646 25.4193 16.6688C24.2235 15.4729 22.7798 14.875 21.0881 14.875C19.3673 14.875 17.9162 15.4729 16.735 16.6688C15.5537 17.8646 14.9631 19.3083 14.9631 21C14.9631 22.6917 15.5537 24.1354 16.735 25.3313C17.9162 26.5271 19.3673 27.125 21.0881 27.125Z" fill="currentColor"/>
                    </svg>
                </span>
                <span class="nav-text">Settings</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
    <NavLink class="nav-link" href="export">
        <span class="icon">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.83721 39.1562L6.38721 36.6625L11.5497 31.5H7.61221V28H17.4997V37.8875H13.9997V33.9938L8.83721 39.1562ZM20.9997 38.5V24.5H6.99971V7C6.99971 6.0375 7.34242 5.21354 8.02783 4.52813C8.71325 3.84271 9.53721 3.5 10.4997 3.5H24.4997L34.9997 14V35C34.9997 35.9625 34.657 36.7865 33.9716 37.4719C33.2862 38.1573 32.4622 38.5 31.4997 38.5H20.9997ZM22.7497 15.75H31.4997L22.7497 7V15.75Z" fill="currentColor"/>
            </svg>
        </span>
        <span class="nav-text">Export</span>
    </NavLink>
</div>
    </nav>
</div>